<div class="scrollable-container">
  <h2 class="form-title">{{ newIssue.id ? 'Editar Issue' : 'Agregar nuevo Issue' }}</h2>
  <form (ngSubmit)="onSubmit()" class="issue-form">
    <!-- Campos del Issue -->

    <mat-form-field>
      <mat-label>{{ 'associatedSprint' | translate }}</mat-label>
      <mat-select [(ngModel)]="newIssue.sprintAssociate" name="sprintAssociate">
        <mat-option *ngFor="let sprint of sprintNames" [value]="sprint">{{ sprint }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'createdBy' | translate }}</mat-label>
      <mat-select [(ngModel)]="newIssue.madeBy" name="madeBy">
        <mat-option *ngFor="let member of memberNames" [value]="member">{{ member }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'title' | translate }}</mat-label>
      <input matInput [(ngModel)]="newIssue.title" name="title" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'description' | translate }}</mat-label>
      <textarea matInput [(ngModel)]="newIssue.description" name="description" required></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'statusissue' | translate }}</mat-label>
      <mat-select [(ngModel)]="newIssue.status" name="status" required>
        <mat-option value="TO_DO">TO_DO</mat-option>
        <mat-option value="IN_PROGRESS">IN_PROGRESS</mat-option>
        <mat-option value="DONE">DONE</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'priorityissue' | translate }}</mat-label>
      <mat-select [(ngModel)]="newIssue.priority" name="priority" required>
        <mat-option value="LOW">LOW</mat-option>
        <mat-option value="MEDIUM">MEDIUM</mat-option>
        <mat-option value="HIGH">HIGH</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'assignedTo' | translate }}</mat-label>
      <mat-select [(ngModel)]="newIssue.assignedTo" name="assignedTo">
        <mat-option *ngFor="let member of memberNames" [value]="member">{{ member }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'createdIn' | translate }}</mat-label>
      <input matInput [(ngModel)]="newIssue.createdIn" name="createdIn" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'estimatedResolutionDate' | translate }}</mat-label>
      <input matInput [(ngModel)]="newIssue.resolutionDate" name="resolutionDate" required>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">{{ newIssue.id ? 'Guardar cambios' : 'Agregar' }}</button>
      <button mat-raised-button color="warn" (click)="onCancel()" type="button">{{ 'cancel' | translate }}</button>
    </mat-card-actions>
  </form>
</div>
